.input-section{
    display: flex;
    margin-top: 40px;
}

.beden input{
    width: 280px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid  rgba(165, 165, 165, 1);
    outline: none;
    font-size: 1.2rem;
    padding: 12px;
    background-color:rgba(230, 230, 230, 1);
}
.beden input::placeholder{
    font-size: 1.2rem;
}

.beden p {
    margin-bottom: 20px;
    font-weight: 800;
}
.adet input{
    width: 280px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid  rgba(165, 165, 165, 1);
    outline: none;
    background-color:rgba(230, 230, 230, 1);
    cursor: pointer;
}
.adet{
    position: relative;
    margin-left: 20px;
}
.adet input::placeholder{
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
.adet p {
    margin-bottom: 20px;
    font-weight: 800;
}

.adet button{
    height: 50px;
}
.add{
    position: absolute;
    width: 70px;
    background-color: white;
    border: 1px solid rgba(165, 165, 165, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 2rem;
    color:rgba(165, 165, 165, 1);
    cursor: pointer;
    
}

.minus{
    position: absolute;
    right: 0px;
    width: 70px;
    background-color: white;
    border: 1px solid rgba(165, 165, 165, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 2rem;
    color:rgba(165, 165, 165, 1);
    cursor: pointer;
}

.alarm img{
    padding: 10px 30px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid rgba(165, 165, 165, 1) ;
    cursor: pointer;
}
.heart img{
    padding: 10px 30px;
    margin-top: 41px;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid rgba(165, 165, 165, 1) ;
    cursor: pointer;
}

